<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for Cookie</h1>

<f:flashMessages />
<f:render partial="Cookie/Properties" arguments="{cookie:cookie}" />
<f:link.action action="edit" arguments="{cookie:cookie}">Edit</f:link.action><br />
</f:section>