<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />
	<f:render partial="FormErrors" />
	<f:form action="updateCookie" name="cookie" object="{cookie}" >
		<f:render partial="Cookie/FormFields" arguments="{cookies:cookies}" />
		<div class="form-actions">
			<f:form.submit class="btn btn-primary" value="{f:translate(key:'fe.form.save')}" />
		</div>
	</f:form>
</f:section>